In [3]:
import numpy as np 
import pandas as pd

In [7]:
df = pd.read_csv('Book_one.csv', encoding='latin1')

df.head(3)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.0,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.0,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.0,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2098 entries, 0 to 2097
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              2098 non-null   int64
 1   Provider            2098 non-null   int64
 2   Status              2098 non-null   object
 3   Slug                2098 non-null   object
 4   Title               2098 non-null   object
 5   Position            2098 non-null   object
 6   Company             2015 non-null   object
 7   City                2098 non-null   object
 8   State.Name          2096 non-null   object
 9   State.Code          2096 non-null   object
 10  Address             0 non-null      float64
 11  Latitude            2098 non-null   float64
 12  Longitude           2098 non-null   float64
 13  Industry            8 non-null      object
 14  Job.Description     2098 non-null   object
 15  Requirements        0 non-null      float64
 16  Salary              8 non-null      float64
 17  Listing.Start       2090 non-null   object
 18  Listing.End         2090 non-null   object
 19  Employment.Type     2098 non-null   object
 20  Education.Required  2090 non-null   object
 21  Created.At          2098 non-null   object
 22  Updated.At          2098 non-null   object
dtypes: float64(5), int64(2), object(16)
memory usage: 377.1+ KB

In [10]:
df = df[['Title', 'Job.Description']]
df.head(3)

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...

In [12]:
df['Title'][1]

'Kitchen Staff/Chef @ Claude Lane'

In [13]:
df['Job.Description'][1]

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

In [15]:
ps = PorterStemmer()