In [3]:
import numpy as np 
import pandas as pd

In [32]:
df = pd.read_csv('Book_one.csv', encoding='utf-8', errors='ignore')


df.head(3)

TypeError: read_csv() got an unexpected keyword argument 'errors'

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2098 entries, 0 to 2097
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            2098 non-null   object
 1   Job.Description  2098 non-null   object
dtypes: object(2)
memory usage: 32.9+ KB

In [34]:
df = df[['Title', 'Job.Description']]
df.head(3)

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...

In [35]:
df['Title'][1]

'Kitchen Staff/Chef @ Claude Lane'

In [36]:
df['Job.Description'][1]

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [52]:
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
import re

In [53]:
ps = PorterStemmer()

In [56]:


def cleaning(txt):
    # Replace non-alphanumeric characters (except spaces) with a space
    cleaned_txt = re.sub(r'[^a-zA-Z0-9\s]', ' ', txt)
    
    # Tokenize the cleaned text and convert to lowercase
    tokens = nltk.word_tokenize(cleaned_txt.lower())
    
    # Stem the words and remove stopwords
    words = [ps.stem(word) for word in tokens if word not in stopwords.words('english')]
    
    return ' '.join(words)

# Example usage
output = cleaning('this my school and 356 /d/f/t/7/9/9 and loving going moving digits %$^#@& &&^^$^%')
print(output)

school 356 f 7 9 9 love go move digit

In [59]:
df['Title'] = df['Title'].astype(str).apply(lambda x:cleaning(x))
df['Job.Description'] = df['Job.Description'].astype(str).apply(lambda x:cleaning(x))

In [60]:
df['Title']

0                                         server tacolici
1                           kitchen staff chef claud lane
2                             bartend machka restaur corp
3                                     server teriyaki hou
4                 kitchen staff chef rosa mexicano sunset
                              ...
2093                                  bookkeep confidenti
2094                          sale associ sherwin william
2095          tax account contract ledgent financ account
2096    restaur hourli team member custom servic kitch...
2097    maci season retail sell floor recoveri earli 1...
Name: Title, Length: 2098, dtype: object

In [61]:
df['Job.Description'][1]

'new french brasseri f financ district seek chef seek energet dynam chef take charg grow compani ideal candid motiv self starter great work ethic readi challeng build team execut support posit perfect fit talent chef readi take next step someon multi task high volum kitchen except organiz skill posit requir experi french cuisin minimum 5 year sou chef high volum full servic restaur must team player lead exampl work side side member team comput manag skill must experi order inventori cost control right candid previou demonstr understand leadership account infecti energet approach problem solv face challeng equal opportun employ qualifi applic consid employ without regard age race religion sex nation origin sexual orient disabl veteran statu'

In [62]:
df['new_col'] = df['Title']+' '+ df['Job.Description']

In [63]:
df.head(3)

,Title,Job.Description,new_col
0,server tacolici,tacolici first palo alto store open recent hir...,server tacolici tacolici first palo alto store...
1,kitchen staff chef claud lane,new french brasseri f financ district seek che...,kitchen staff chef claud lane new french brass...
2,bartend machka restaur corp,popular mediterranean wine bar restaur financ ...,bartend machka restaur corp popular mediterran...