In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('Combined_Jobs_Final.csv')


df.head(3)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.0,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.0,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.0,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

In [5]:
df = df[['Title', 'Job.Description']]
df.head(3)

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...

In [6]:
df['Title'][1]

'Kitchen Staff/Chef @ Claude Lane'

In [7]:
df['Job.Description'][1]

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [9]:
df= df.sample(n=2000, random_state=42)
df.shape

(2000, 2)

In [10]:
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
import re

In [11]:
ps = PorterStemmer()

In [12]:


def cleaning(txt):
    # Replace non-alphanumeric characters (except spaces) with a space
    cleaned_txt = re.sub(r'[^a-zA-Z0-9\s]', ' ', txt)
    
    # Tokenize the cleaned text and convert to lowercase
    tokens = nltk.word_tokenize(cleaned_txt.lower())
    
    # Stem the words and remove stopwords
    words = [ps.stem(word) for word in tokens if word not in stopwords.words('english')]
    
    return ' '.join(words)

# Example usage
output = cleaning('this my school and 356 /d/f/t/7/9/9 and loving going moving digits %$^#@& &&^^$^%')
print(output)

school 356 f 7 9 9 love go move digit

In [13]:
df['Title'] = df['Title'].astype(str).apply(lambda x:cleaning(x))
df['Job.Description'] = df['Job.Description'].astype(str).apply(lambda x:cleaning(x))

In [14]:
df['Title']

64119                       site director knowledg univers
35827                          administr assist officeteam
72100                     account manag chi payment system
46355    outsid wholesal sale rep part time river front...
34166    custom servic rep help peopl hear loss captioncal
                               ...
19206     custom servic sale new grad welcom vector market
26262               imag technologist need med relief staf
58052                      human resourc assist officeteam
928      technolog merchandis specialist part time acti...
11582                                  bookkeep accountemp
Name: Title, Length: 2000, dtype: object

In [31]:
df['Job.Description']

64119    job summari knowledg univers ku site director ...
35827    ref id 03110 118480classif secretari admin ass...
72100    rsquo energet motiv hardwork look prosper occu...
46355    outsid wholesal sale rep job respons sale repr...
34166    captioncal commun assist imagin life without t...
                               ...
19206    nbsp excel provid except custom servic eager l...
26262    medrelief staf grow nbsp urgent need qualiti i...
58052    ref id 03560 106504classif personnel human res...
928      tech junki nbsp bull nbsp electron guru bull n...
11582    ref id 02942 112681classif bookkeepercompens 1...
Name: Job.Description, Length: 2000, dtype: object

In [32]:
df['new_col'] = df['Title']+' '+ df['Job.Description']

In [33]:
df.head(3)

,Title,Job.Description,new_col
64119,site director knowledg univers,job summari knowledg univers ku site director ...,site director knowledg univers job summari kno...
35827,administr assist officeteam,ref id 03110 118480classif secretari admin ass...,administr assist officeteam ref id 03110 11848...
72100,account manag chi payment system,rsquo energet motiv hardwork look prosper occu...,account manag chi payment system rsquo energet...

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
tfif = TfidfVectorizer()
matrix = tfif.fit_transform(df['new_col'])
similarly = cosine_similarity(matrix)

In [36]:
similarly

array([[1.        , 0.03941664, 0.02419046, ..., 0.0202585 , 0.0307899 ,
        0.06228728],
       [0.03941664, 1.        , 0.02200937, ..., 0.04572214, 0.04519063,
        0.00951451],
       [0.02419046, 0.02200937, 1.        , ..., 0.01130551, 0.24649794,
        0.03598857],
       ...,
       [0.0202585 , 0.04572214, 0.01130551, ..., 1.        , 0.01521501,
        0.03285181],
       [0.0307899 , 0.04519063, 0.24649794, ..., 0.01521501, 1.        ,
        0.02248625],
       [0.06228728, 0.00951451, 0.03598857, ..., 0.03285181, 0.02248625,
        1.        ]])

In [37]:
enumerate(similarly[0])

In [40]:
def recommendation(title):
    idx = df[df['Title'] == title].index[0]
    idx = df.index.get_loc(idx)
    distance = sorted(list(enumerate(similarly[idx])), key=lambda x:x[1], reverse=False)[1:20]
    for i in distance:
        print(df.iloc[i[0]].Title)

In [41]:
recommendation('administr assist officeteam')

server commi
custom servic rep zion bancorpor california bank trust
housekeep crown plaza independ own oper
prn iii medic surgic regist nurs heartland region medic center
event market retail market
gener labor warehous lumber yard 84 lumber
physician autism center part time provid health servic
shoe repair carl shoe
temporari social servic program coordin salvat armi stuart
home health aid star multi care servic
ra sushi chef ra sushi
bonefish kitchen staff
gener labor warehous lumber yard 84 lumber
medic imag specialist prn hca mountain
dockwork part time fedex freight
regist nurs telephon triag part time swedish health
medic technologist fte 8 variabl shift provid health servic
psychiatr aprn addict medicin practic connecticut addict medicin llc
rn staff mental health part time even shift provid alaska medic center swedish health

In [42]:
import pickle
pickle.dump(df,open('df.pkl', 'wb'))
pickle.dump(similarly,open('similarly.pkl', 'wb'))